.main-nav-bar {
    width: 130px;
    z-index: 10;
    background: $nav-background;
    bottom: 0;
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 80px;
    box-shadow: 2px 0px 12px 0px RGB(33 33 33 / 5%);
}

.logo-custom img {
    line-height: 100px;
    width: 100px;
    position: relative;
    top: 0;
}

.main-nav {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    margin: 0px 10px;

    .main-nav-link {
        padding: 10px 15px 3px 15px;
        display: block;
        position: relative;
        transition: all .4s;
        text-decoration: none;

        i {
            line-height: 2rem;
            font-size: 1.9rem;
            display: block;
            vertical-align: middle;
            color: $icon-colour;
        }

        span {
            vertical-align: middle;
            font-size: 0.7rem;
            font-weight: 500;
            white-space: nowrap;
            color: $nav-text;
            padding-bottom: 10px;
        }
    }
}

.main-nav-item {
    margin-bottom: 20px;
    color: #20c997;
}

.main-nav-item:hover {
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.1), rgba(128, 128, 128, 0.1));
}

.logo-title {
    font-size: .8rem;
    padding-bottom: 40px;
}

.content-page {
    margin-left: 105px;
    padding: 70px 30px 40px;
    min-height: 89vh;
}

@media screen and (max-width: 1024px) {
    .main-nav-bar {
        position: absolute;
        width: 96%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        height: 71px;
        z-index: 1002;
        top: inherit;
        padding-top: 0;
        box-shadow: 0px -2px 12px 0px #00000029;
        background: $main-blue;
        border-radius: 30px;
    }

    .logo-custom {
        display: none;
        line-height: 60px;
        width: 0px;
    }

    .main-nav {
        margin: 0px 0px;

        .main-nav-link {
            i {
                display: block;
            }

            i::before {
                display: inline-block;
            }
        }
    }

    .main-nav-item {
        width: 100px;
        margin-bottom: 0px;
    }

    .logo-title {
        display: none;
    }

    .content-page {
        padding: 30px 12px 75px;
        margin-left: 0px;
        overflow-y: auto;
        max-height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .main-nav-bar {
        height: 62px;
    }

    .main-nav .main-nav-link i {
        line-height: 1.7rem;
        font-size: 1.4rem;
    }

    .content-page {
        padding: 80px 30px 75px;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Top bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-logo {
    width: 100%;
    height: auto;
    max-width: 80px;
}

.icons {
    display: flex;
    align-items:center;
}

.icons i {
    font-size: 2.5rem;
    margin-left: 20px;
    color: $neutral-grey-mid;
}

.icons {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.btn.bx {
    background: none;
    box-shadow: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
    text-transform: none;
    cursor: pointer;
}

.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: $main-blue-bright;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 100;
    padding-left: 0;
}

.dropdown:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 105px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid $main-blue-bright;
    border-right: 6px solid $main-blue-bright;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
}

.dropdown li {
    z-index: 1;
    position: relative;
    background: $main-blue-bright;
    border-bottom: 1px solid $nav-text;
    color: #666;
}

.dropdown li:first-child {
    border-radius: 4px 4px 0 0;
}

.dropdown li:last-child {
    border-radius: 0 0 4px 4px;
}

.dropdown li:last-child a {
    border-bottom: 1px solid $main-blue-bright;
}

.dropdown a {
    display: block;
    border-bottom: 1px solid $nav-text;
    padding: 16px 0;
    color: $nav-text;
    font-size: 12px;
    text-decoration: none;
    padding-left: 1rem;
}

.btn:focus .dropdown,
.btn:active .dropdown {
    transform: translate(0, 20px);
    opacity: 1;
    visibility: visible;
}

.dropdown li:hover {
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.1), rgba(128, 128, 128, 0.1));
}

.dropdown i {
    font-size: 18px;
    color: $nav-text;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}