@import "../../node_modules/bootstrap/scss/functions";
/* NHS colours pallete */
/* Blues */
$main-blue: #005EB8;
$main-blue-dark: #003087;
$main-blue-bright: #0072CE;
$main-blue-light: #41B6E6;
$main-blue-aqua: #00A9CE;
/* NHS neutrals */
$neutral-black: #231f20;
$neutral-grey-dark: #425563;
$neutral-grey-mid: #768692;
$neutral-grey-pale: #E8EDEE;
$neutral-white: #FFFFFF;
/* NHS greens */
$green: #009639;
$green-dark: #006747;
$green-light: #78BE20;
$green-aqua: #00A499;
/* NHS higlights */
$purple: #330072;
$pink: #AE2573;
$pink-dark: #7C2855;
$red: #DA291C;
$red-dark: #8A1538;
$orange: #ED8B00;
$yellow: #FAE100;
$yellow-warm: #FFB81C;

/* Colours */
$main-background: $neutral-white;
$nav-background: $main-blue-bright;
$icon-colour: $neutral-white;
$nav-text: $neutral-grey-pale;
$primary: #FFFDFA;
$secondary: #969696;
$yellow: #dcd427;
$red: #cc3333;
$border: #b7b327;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $yellow;
$headings-color: $primary;
$card-background: RGB(230 234 238 / 5%);

/* Font */
$font-title: 22px;

/* Customising button */
$btn-background: red;
$btn-border: #56a1c5;
$btn-color: $primary;


@mixin button-variant($background, $border, $color) {
    background-color: $main-blue-bright;
    border: $main-blue-bright;
    color: $neutral-white;

    &:hover {
        background-color: $main-blue;
        border: 1px solid $main-blue;
        color: $neutral-white;
    }
}
/* With 'basic' class */
.btn-primary {
    &.basic {
        @include button-variant($main-blue-dark, $btn-border, $btn-color);
    }
}

/* Comparision table */
$table-border-color: $secondary;
$table-bg: $card-background;
$table-color: $primary;

@import "../../node_modules/bootstrap/scss/variables";
$h2-font-size: 2rem;
$headings-color: #000000;
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/card";
/* Badge variables */
$badge-font-size: 1rem;
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/tables";
/* Loading animation */
@import "../../node_modules/bootstrap/scss/spinners";
/* Accordion properties */
$accordion-bg: $card-background;
$accordion-color: $primary;
$accordion-button-color: $primary;
$accordion-border-width: 0px;
$accordion-button-active-bg: $icon-colour;
$accordion-button-active-color: $yellow;
@import "../../node_modules/bootstrap/scss/accordion";
/* Accordion collapsing animation */
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/dropdown";

.form-control {
    background-color: $neutral-grey-pale;
}

body {
    background-color: #F5F7FA;
}

.main-card {
    border-color: $main-blue-bright;
}
/* customize dt scrollbar */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
/* customize dt scrollbar */
::-webkit-scrollbar-thumb {
    background: RGB(189 189 189 / 0.75);
    border-radius: 10px;
}

.btn-main {
    background: $main-blue-bright;
    color: $neutral-grey-pale;
    white-space: normal;
    text-align: center;
    word-wrap: break-word;
}
.btn-main:hover {
    background: $main-blue-dark;
    color: $neutral-grey-pale;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    background: #F5F7FA;
}

@import "_navigation-bar.scss";


